<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>firstName</key>
		<string>Edward</string>
		<key>lastName</key>
		<string>Romanov</string>
		<key>phoneNumber</key>
		<string>8(999)-84-9772</string>
		<key>email</key>
		<string>edward@mail.ru</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>firstName</key>
		<string>Mihail</string>
		<key>lastName</key>
		<string>Nurov</string>
		<key>phoneNumber</key>
		<string>8(999)-84-9711</string>
		<key>email</key>
		<string>misha@mail.ru</string>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>firstName</key>
		<string>Lisa</string>
		<key>lastName</key>
		<string>Kuklova</string>
		<key>phoneNumber</key>
		<string>8(999)-44-1772</string>
		<key>email</key>
		<string>lisa@mail.ru</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>firstName</key>
		<string>Petr</string>
		<key>lastName</key>
		<string>Hon</string>
		<key>phoneNumber</key>
		<string>8(999) 44-3472</string>
		<key>email</key>
		<string>petr@mail.ru</string>
	</dict>
	<dict>
		<key>id</key>
		<string>4</string>
		<key>firstName</key>
		<string>Artem</string>
		<key>lastName</key>
		<string>Fox</string>
		<key>phoneNumber</key>
		<string>8(999)-84-9788</string>
		<key>email</key>
		<string>d@mail.ru</string>
	</dict>
	<dict>
		<key>id</key>
		<string>5</string>
		<key>firstName</key>
		<string>Tatyana</string>
		<key>lastName</key>
		<string>Page</string>
		<key>phoneNumber</key>
		<string>8(999)-84-2711</string>
		<key>email</key>
		<string>tayanita@page.me</string>
	</dict>
	<dict>
		<key>id</key>
		<string>6</string>
		<key>firstName</key>
		<string>Daniil</string>
		<key>lastName</key>
		<string>Cintron</string>
		<key>phoneNumber</key>
		<string>8(999)-84-9531</string>
		<key>email</key>
		<string>t43fg@mail.ru</string>
	</dict>
	<dict>
		<key>id</key>
		<string>7</string>
		<key>firstName</key>
		<string>Gregory</string>
		<key>lastName</key>
		<string>Hester</string>
		<key>phoneNumber</key>
		<string>8(659)-84-9711</string>
		<key>email</key>
		<string>gregory@hester.me</string>
	</dict>
	<dict>
		<key>id</key>
		<string>8</string>
		<key>firstName</key>
		<string>Ana</string>
		<key>lastName</key>
		<string>Salama</string>
		<key>phoneNumber</key>
		<string>8(449)-84-9716</string>
		<key>email</key>
		<string>ana@mail.ru</string>
	</dict>
	<dict>
		<key>id</key>
		<string>9</string>
		<key>firstName</key>
		<string>Denis</string>
		<key>lastName</key>
		<string>Herring</string>
		<key>phoneNumber</key>
		<string>8(935)-84-9744</string>
		<key>email</key>
		<string>d343@mail.ru</string>
	</dict>
	<dict>
		<key>id</key>
		<string>10</string>
		<key>firstName</key>
		<string>Katerina</string>
		<key>lastName</key>
		<string>Reese</string>
		<key>phoneNumber</key>
		<string>8(939)-84-97568</string>
		<key>email</key>
		<string>katherine@reese.me</string>
	</dict>
	<dict>
		<key>id</key>
		<string>11</string>
		<key>firstName</key>
		<string>Marina</string>
		<key>lastName</key>
		<string>Mejia</string>
		<key>phoneNumber</key>
		<string>8(999)-84-9764</string>
		<key>email</key>
		<string>marina@ya.ru</string>
	</dict>
	<dict>
		<key>id</key>
		<string>12</string>
		<key>firstName</key>
		<string>Leonid</string>
		<key>lastName</key>
		<string>Taran </string>
		<key>phoneNumber</key>
		<string>8(999)-84-9876</string>
		<key>email</key>
		<string>leo@mail.ru</string>
	</dict>
	<dict>
		<key>id</key>
		<string>13</string>
		<key>firstName</key>
		<string>Egor</string>
		<key>lastName</key>
		<string>Potehin</string>
		<key>phoneNumber</key>
		<string>8(999)-84-5437</string>
		<key>email</key>
		<string>eg@mail.ru</string>
	</dict>
	<dict>
		<key>id</key>
		<string>14</string>
		<key>firstName</key>
		<string>Anton</string>
		<key>lastName</key>
		<string>Hanov</string>
		<key>phoneNumber</key>
		<string>8(999)-84-8645</string>
		<key>email</key>
		<string>an@mail.ru</string>
	</dict>
	<dict>
		<key>id</key>
		<string>15</string>
		<key>firstName</key>
		<string>Alisa</string>
		<key>lastName</key>
		<string>Murasheva</string>
		<key>phoneNumber</key>
		<string>8(991)-72-8647</string>
		<key>email</key>
		<string>alissa@mail.ru</string>
	</dict>
	<dict>
		<key>id</key>
		<string>16</string>
		<key>firstName</key>
		<string>Maxim</string>
		<key>lastName</key>
		<string>Maximov</string>
		<key>phoneNumber</key>
		<string>8(999)-84-5474</string>
		<key>email</key>
		<string>max@mail.ru</string>
	</dict>
	<dict>
		<key>id</key>
		<string>17</string>
		<key>firstName</key>
		<string>Nikita</string>
		<key>lastName</key>
		<string>Bunklov</string>
		<key>phoneNumber</key>
		<string>8(999)-84-4473</string>
		<key>email</key>
		<string>nikita@mail.ru</string>
	</dict>
	<dict>
		<key>id</key>
		<string>18</string>
		<key>firstName</key>
		<string>Arina</string>
		<key>lastName</key>
		<string>Eh</string>
		<key>phoneNumber</key>
		<string>8(999)-84-9755</string>
		<key>email</key>
		<string>arina@mail.ru</string>
	</dict>
	<dict>
		<key>id</key>
		<string>19</string>
		<key>firstName</key>
		<string>Roman</string>
		<key>lastName</key>
		<string>Romanov</string>
		<key>phoneNumber</key>
		<string>8(999)-84-4774</string>
		<key>email</key>
		<string>roma@mail.ru</string>
	</dict>
	<dict>
		<key>id</key>
		<string>20</string>
		<key>firstName</key>
		<string>Amanda</string>
		<key>lastName</key>
		<string>Ros</string>
		<key>phoneNumber</key>
		<string>8(999)-84-9964</string>
		<key>email</key>
		<string>amanda@mail.ru</string>
	</dict>
</array>
</plist>
